<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Books</h1>
<a href="/book/new">New Book</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Isbn</th>
        <th>Akcje</th>
    </tr>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">Id</td>
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.isbn}">Isbn</td>
        <td>
            <a th:href="@{/book/edit(id=${book.id})}">Edit</a>
            <a onclick="return confirm('Are you sure')" th:href="@{/book/delete(id=${book.id})}">Delete</a>
        </td>
    </tbody>
    </thead>
</table>
</body>
</html>